name: Lint & Test

on:
  push:
    branches-ignore:
      - master
      - main
      - develop

jobs:
  run-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: actions/setup-node@v2
      - name: Install dev dependencies
        run: npm install

      - name: Install Foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly

      - name: Run lint check
        run: npm run lint:check

      - name: Env
        run: cp .env.local.example .env.local

      - name: Built
        run: make build

      - name: Run tests
        run: make test
